.responsive-table li {
    margin-left: -40px;
    border-radius: 3px;
    padding: 25px 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
   
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

.col-2 {
  margin-left: 50px;
}

.col-5 {
  margin-left: -50px;
}

@media (max-width: 550px) {
  .table-row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .table-row .col {
    padding: 5px;
  }
  
  .col-1, .col-2 {
    flex: 1;
    min-width: 50%;
  }
  
  .col-3 {
    flex: 1;
  }
  .col-4, .col-5 {
    flex: 1;
    min-width: 50%;
  }

  .col-2 {
    margin-left: 0px;
  }
  
  .col-5 {
    margin-left: 0px;
  }

}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
}

.quantity-input:focus {
  outline: none; /* Remove o contorno de foco */
}

.btn-decrement,
.btn-increment {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #f9af0f;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  margin: 5px;
}

.total-div {
  background-color: #ffda0682;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding: 10px; 
  border: none;
  box-sizing: border-box; 
  border-radius: 5px;
}

.total-label {
  text-align: left; 
}

.total-value {
  text-align: right; 
  color: brown; 
}